[user]
    name = Jiaheng Tang
    email = tjiaheng@vmware.com
[push]
    default = current
[diff]
    tool = vimdiff
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    side-by-side = true
    syntax-theme = GitHub
